nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: wheat;
    padding: 18px 40px;
}

nav h2{
    color: black;
    margin: 0;
}

nav div{
    display: flex;
    gap: 20px;
}

nav a{
    color: gray;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover{
    color: purple;
}

.logo svg{
    margin-right: 8px;
}

.nav-links svg{
    margin-right: 6px;
}

.navbar{
    height:70px;
    padding:0 30px;
}